* {
    font-family: "Satisfy", cursive;
}

body {
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

h1 {
    color: #eeeeee;
    font-size: 72px;
}

p {
    color: #eeeeee;
    font-size: 24px;
}

a {
    color: #eeeeee;
    font-size: 30px;
}

.learn_more_btn {
    border: 2px solid #eeeeee;
    border-radius: 20px;
    width: 200px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
